#front_opinions_wrapper .slot2 a, #front_news_wrapper .header .all a.link, #front_news_wrapper .content a.link.mag, #front_photo_wrapper .header a.link {
	color: #fbd291;
	font-weight: bold;
	text-decoration: none;
}
#front_news_wrapper .header .all a.link, #front_news_wrapper .content a.link.mag, #front_photo_wrapper .header a.link {
	background: url(../img/arrow_blue_14px.png);
	background-position: right 7px;
	background-repeat: no-repeat;
	font-size: 14px;
	padding-right: 10px;
}
#front_opinions_wrapper .slot2 a {
	background: url(../img/arrow_18px_blue.png);
	background-position: right 8px;
	background-repeat: no-repeat;
	font-size: 16px;
	padding-right: 12px;
}
	#front_opinions_wrapper .slot2 a:hover, #front_opinions_wrapper .slot2 a:focus, #front_news_wrapper .header .all a.link:hover, #front_news_wrapper .header .all a.link:focus, #front_news_wrapper .content a.link.mag:hover, #front_news_wrapper .content a.link.mag:focus, #front_photo_wrapper .header a.link:hover, #front_photo_wrapper .header a.link:focus {
		color: #fff;
	}

#front_header {
	height: 674px;
	margin: 0;
	position:relative;
	background-image: url(../img/front_header_bg.jpg);
	background-position: bottom;
}
	#front_header_wrapper {
		height: 575px;
		width: 975px;
		position: relative;
		margin: 0 auto;
	}
	#front_header_maintop {
		background-image: url(../img/front_header_maintop.jpg);
		background-repeat: no-repeat;
		background-position: center;
		height: 38px;
	}
	#front_header_teaser {
			width: 945px;
			height: 370px;
			position: absolute;
			left: 13px;
			top: 178px;
	}
		.ice-tabs-black .ice-main-wapper .ice-main-item a.ice-description-inside {
			-webkit-transition-duration: 300ms;
			-webkit-transition-timing-function: ease-in-out;

			-moz-transition-duration: 300ms;
			-moz-transition-timing-function: ease-in-out;

			-o-transition-duration: 300ms;
			-o-transition-timing-function: ease-in-out;

			transition-duration: 300ms;
			transition-timing-function: ease-in-out;
		}
#front_main_wrapper {
/* 	height: 538px; - for photo with 2row promo-block */
	/* height: 625px; - for 2row promo-block */
	height: 520px;
	width: 975px;
	position: relative;
	margin: 0 auto;
}

ul.front_promo {
	position: absolute;
	top: -65px;
	left: 15px;
	list-style-type: none;
	height: 244px;
	width: 945px;
	margin: auto;
	padding: 0px;
}
 	ul.front_promo li {
		float: left;
		height: 122px;
		width: 315px;
		/*background-image: url(../img/p/d/front_main_promo_slot2.jpg);*/
	}
	ul.front_promo a {
		height: 122px;
		width: 240px;
		padding-left: 75px;
		display: block;
		text-decoration: none;
		font-family: PT Sans, Arial, Helvetica, sans-serif;
		font-size: 17px;
		color: #cedcef;
	}
		ul.front_promo a:hover {
			width: 290px;
			padding-left: 25px;
		}
		ul.front_promo a.slot_1  {
		background-image: url(../img/p/front_main_promo_slot1.jpg);
		}
			ul.front_promo a.slot_1:hover, ul.front_promo a.slot_1:focus  {
			background-image: url(../img/p/h/front_main_promo_slot1.jpg);
			}
		ul.front_promo a.slot_2  {
			background-image: url(../img/p/front_main_promo_slot2.jpg);
		}
			ul.front_promo a.slot_2:hover, ul.front_promo a.slot_2:focus  {
			background-image: url(../img/p/h/front_main_promo_slot2.jpg);
			}
		ul.front_promo a.slot_3  {
		background-image: url(../img/p/front_main_promo_slot3.jpg);
		}
			ul.front_promo a.slot_3:hover, ul.front_promo a.slot_3:focus  {
			background-image: url(../img/p/h/front_main_promo_slot3.jpg);
			}
		ul.front_promo a.slot_4  {
		background-image: url(../img/p/front_main_promo_slot4.jpg);
		}
			ul.front_promo a.slot_4:hover, ul.front_promo a.slot_4:focus  {
			background-image: url(../img/p/h/front_main_promo_slot4.jpg);
			}
		ul.front_promo a.slot_5  {
		background-image: url(../img/p/front_main_promo_slot5.jpg);
		}
			ul.front_promo a.slot_5:hover, ul.front_promo a.slot_5:focus  {
			background-image: url(../img/p/h/front_main_promo_slot5.jpg);
			}
		ul.front_promo a.slot_6  {
		background-image: url(../img/p/front_main_promo_slot6.jpg);
		}
			ul.front_promo a.slot_6:hover, ul.front_promo a.slot_6:focus  {
			background-image: url(../img/p/h/front_main_promo_slot6.jpg);
			}
	.front_promo_title, .front_promo_title_double {
		font-size: 19px;
		text-transform:uppercase;
		display: block;
		color: #f69a0b;
	}
		.front_promo_title {
			padding-top: 31px;
		}
		.front_promo_title_double {
			padding-top: 25px;
			line-height: 18px;
			padding-bottom: 3px;
		}
	.front_promo_sub {
		font-size: 13px;
		margin-top: -20px;
		display: block;
		width: 226px;
		color: #7fa1be;
	}

#front_info {
	position: absolute;
	/* top: 204px; - for 2row promo-block */
	top: 90px;
	right: 58px;
	height: 297px;
	width: 862px;
}
	#front_info .photo_bg {
		float: left;
		height: 289px;
		width: 303px;
		padding: 4px;
		background-image: url(../img/front_info_photo_bg.gif);
	}
		#front_info .photo_bg img {
			float: left;
		}
			#front_info .photo_bg .photo1 {
				padding-bottom: 5px;
			}
			#front_info .photo_bg .photo2 {
				padding-right: 5px;
			}
	#front_info .title {
		font-size: 30px;
		font-weight: 600;
/* 		padding-left: 335px; - for photo*/
		padding-top: 10px;
		padding-bottom: 5px;
		color: #fbd291;
		line-height: 25px;
	}
	#front_info p {
		font-size: 15px;
/* 		padding-left: 325px; - for photo */
		color: #bed5e9;
		line-height: 20px;
		margin: 8px;
	}
	#front_info p.bold {
		padding: 15px 0px;
		font-size: 17px;
	}
	#front_info a.button {
		width: 156px;
		height: 36px;
		background: url(../img/b/front_info_button.png);
		text-indent: -9999px;
		float: right;
/* 		margin-top: 7px;  - for photo*/
		margin-top: 37px;

	}
		#front_info a.button:hover, #front_info a.button:focus {
			background: url(../img/b/h/front_info_button.png);
		}
		#front_info a.button:active {
			background-position: 0px 2px;
		}

#front_opinions_wrapper {
	height: 233px;
	width: 975px;
	position: relative;
	margin: 0 auto;
}
	#front_opinions_wrapper .slot1 {
		position: absolute;
		top: 0px;
		left: 81px;
		width: 655px;
	}
	#front_opinions_wrapper .slot2 {
		position: absolute;
		top: 0px;
		right: 0px;
		width: 209px;
	}
	#front_opinions_wrapper .slot2 ul.likes {
		list-style: none;
		margin: 0;
		padding: 8px 0 0 0;
	}
		#front_opinions_wrapper .slot2 ul.likes li {
			margin: 0px 0px 13px 0px;
		}

#front_action {
	height: 307px;
	margin: 0;
	position:relative;
	background: url(../img/front_action_bg.jpg) no-repeat center;
}
	#front_action_wrapper {
		height: 275px;
		width: 950px;
		position: relative;
		margin: 0 auto;
		padding-left: 10px;
		padding-top: 32px;
	}
	#front_action_wrapper .slot1, #front_action_wrapper .slot3 {
		float:left;
		width: 312px;
	}
	#front_action_wrapper .slot2 {
		float:left;
		width: 311px;
		padding-left: 5px;
		padding-right: 5px;
	}
	#front_action_wrapper a.title {
		font-size: 23px;
		color: #f69a0b;
		text-decoration: none;
		border-bottom: 1px dashed #5e502d;
		margin-left: 18px;
		padding-bottom: 1px;
	}
		#front_action_wrapper a.title:hover, #front_action_wrapper a.title:focus {
			color: #fbd291;
			text-decoration: none;
			border-bottom: 0px;
		}
	#front_action_wrapper a.icon {
		display: block;
		float: left;
		text-indent: -9999px;
	}
		#front_action_wrapper .slot1 a.icon {
			width: 125px;
			height: 100px;
		}
		#front_action_wrapper .slot2 a.icon {
			width: 100px;
			height: 110px;
		}
		#front_action_wrapper .slot3 a.icon {
			width: 90px;
			height: 125px;
		}
	#front_action_wrapper p {
		font-size: 14px;
		color: #91abc1;
		padding-right: 20px;
		line-height: 20px;
		margin-top: 13px;
		margin-bottom: 10px;
	}
		#front_action_wrapper .slot1 p {
			padding-left: 131px;
		}
		#front_action_wrapper .slot2 p {
			padding-left: 105px;
		}
		#front_action_wrapper .slot3 p {
			padding-left: 93px;
		}
	#front_action_wrapper .slot3 a.link {
		font-size: 16px;
		color: #fff;
		text-decoration: none;
		border-bottom: 1px dashed #939daa;
		margin-left: 28px;
		padding-bottom: 0px;
	}
		#front_action_wrapper .slot3 a.link:hover, #front_action_wrapper .slot3 a.link:focus {
			color: #fbd291;
			text-decoration: none;
			border-bottom: 0px;
		}
	#front_action_wrapper .slot3 .arrow {
		font-size: 16px;
		color: #fff;
	}
	#front_action_wrapper a.button {
		display: block;
		position: absolute;
		text-indent: -9999px;
	}
		#front_action_wrapper .slot1 a.button {
			top: 230px;
			left: 71px;
			width: 185px;
			height: 42px;
			background: url(../img/b/front_action_button_1.png);
		}
				#front_action_wrapper .slot1 a.button:hover, #front_action_wrapper .slot1 a.button:focus {
				background: url(../img/b/h/front_action_button_1.png);
			}
			#front_action_wrapper .slot1 a.button:active, #front_action_wrapper .slot2 a.button:active {
				background-position: 0px 2px;
			}
		#front_action_wrapper .slot2 a.button {
			top: 230px;
			left: 388px;
			width: 185px;
			height: 42px;
			background: url(../img/b/front_action_button_2.png);
		}
			#front_action_wrapper .slot2 a.button:hover, #front_action_wrapper .slot2 a.button:focus {
				background: url(../img/b/h/front_action_button_2.png);
			}
			#front_action_wrapper .slot2 a.button:active {
				background-position: 0px 2px;
			}
		#front_action_wrapper .slot3 a.button {
			top: 227px;
			left: 677px;
			width: 239px;
			height: 48px;
			background: url(../img/b/front_action_button_3.png);
		}
			#front_action_wrapper .slot3 a.button:hover, #front_action_wrapper .slot3 a.button:focus {
				background: url(../img/b/h/front_action_button_3.png);
			}
			#front_action_wrapper .slot3 a.button:active {
				background-position: 0px 2px;
			}

#front_news {
	background: url(../img/footer_upper_bg_top.jpg);
	background-position: bottom;
	background-repeat: repeat-x;
}
#front_news_wrapper {
	width: 952px;
	position: relative;
	margin: 0 auto;
	padding-left: 8px;
	padding-top: 28px;
	overflow: auto;

}
	#front_news_wrapper .vline {
		background: url(../img/front_news_vertline.jpg);
	}
	#front_news_wrapper .header {
		font-size: 18px;
		color: #fff;
		border-bottom: 1px dashed #838c96;
		font-weight: bold;
		height: 25px;
	}
		#front_news_wrapper .header .text {
			display: block;
			float: left;
			padding-left: 1px;
		}
		#front_news_wrapper .header .all {
			display: block;
			float: right;
			padding-right: 2px;
		}
			#front_news_wrapper .header .all a.link {
				line-height: 27px;
			}
	#front_news_wrapper a.rss {
		display: block;
		float: left;
		text-indent: -9999px;
		width: 24px;
		height: 24px;
		background: url(../img/b/front_news_rss.jpg);
	}
		#front_news_wrapper a.rss:hover, #front_news_wrapper a.rss:focus {
			background: url(../img/b/h/front_news_rss.jpg);
		}
	#front_news_wrapper .content {
		padding-top: 10px;
	}
  #front_news_wrapper .slot1 {
    float:left;
    /* width: 268px; */
    width: 430px;
    padding-left: 22px;
    padding-right: 22px;
  }
  #front_news_wrapper .slot2 {
    float:left;
    /* width: 267px; */
    width: 429px;
    padding-left: 22px;
    padding-right: 22px;
  }
		#front_news_wrapper .slot1 ul {
    	list-style-type: none;
    	/* margin: auto; */
    	padding: 0px 7px 0px;
    	line-height: 15px;
    	/* width: 268px; */
		}
		#front_news_wrapper .slot1 li {
			background-image: url(../img/arrow_gold_14px.png);
			background-position: left 6px;
			background-repeat: no-repeat;
		}
		#front_news_wrapper .slot1 li,
		#front_news_wrapper .slot2 li {
			padding: 1px 12px 21px;
		}
		#front_news_wrapper .slot2 .content.noevents,
		#front_news_wrapper .slot3 .content.noevents {
			text-align: center;
			font-weight: bold;
			color: #369;
		}
			#front_news_wrapper .slot2 .content.noevents p,
			#front_news_wrapper .slot3 .content.noevents p {
			padding-top: 70px;
			}
		#front_news_wrapper .content .arrow.events {
			color: #cedcef;
			font-size: 18px;
			padding-top: 14px;
			display: block;
			float: left;
			padding-left: 7px;
			padding-right: 5px;
		}
		#front_news_wrapper .content .text.events {
				width: 246px;
				padding-bottom: 16px;
				line-height: 18px;
				display: block;
				float: left;
		}
		#front_news_wrapper .content .date {
			color: #fbd291;
			font-weight: bold;
		}
			#front_news_wrapper .content .date.news {
				font-size: 12px;
			}
			#front_news_wrapper .content .date.events {
				display: block;
				font-size: 14px;
			}
		#front_news_wrapper .content .separator {
			color: #393939;
		}
		#front_news_wrapper .content img.mag {
			padding-left: 7px;
			padding-right: 15px;
			padding-top: 4px;
		}
		#front_news_wrapper .content p.mag {
			padding-top: 22px;
			padding-bottom: 1px;
		}
			#front_news_wrapper .content .about.mag {
				font-size: 13px;
				font-style: italic;
			}

	#front_photo_wrapper {
	width: 975px;
	position: relative;
	margin: 0 auto;
	padding-top: 28px;
	padding-bottom: 29px;
	height: 135px;
	}
		#front_photo_wrapper .header {
			float: left;
			font-size: 18px;
			color: #fff;
			font-weight: bold;
			height: 105px;
			width: 135px;
			text-align: center;
			line-height: 37px;
			padding-top: 30px;
			margin-left: 33px;
			margin-right: 10px;
		}
		#front_photo_wrapper .phoca_photo {
			float: left;
			height: 135px;
			width: 135px;
			background-color:#0099CC;
			background-image: url(../img/front_news_photo.jpg);
			margin-left: 10px;
			margin-right: 10px;
		}